.share{
    width: 100%;
    height:170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}

.shareWrapper{
    padding:10px;
}

.shareProfileImg{
    width: 50px;
    height:50px;
    border-radius: 50%;
    object-fit:cover;
    margin-left:10px;
}

.shareTop{
    display: flex;
    align-items: center;
}

.shareInput{
    border:none;
    width: 80%;
}

.shareInput:focus{
    outline:none;
}

.shareHr{
    margin:20px;
}
.shareBottom{
    align-items: center;
}

.shareOptions{
    display: flex;
    margin-left: 20px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer; 
}

.shareIcon{
    font-size: 18px;
    margin-right: 3px;
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500px;
}
.shareButton{
    height: 50px;
      border-radius: 10px;
      border: none;
      background-color: #C3A29E;
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
}

.shareImgContainer{
    padding: 0 20px 10px 20px;
    position: relative;
  }
  
.shareImg{
    width: 100%;
    object-fit: cover;
  }
  
.shareCancelImg{
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
  }