.Search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.Search input{
    margin-top: 20px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}

p{
    margin: 10px;
    font-size: 18px;
}

.user{
    text-align: center;
    border: black ridge 1px;
    border-radius: 15px;
    margin: 5px;
    width: 15rem;
    padding-left: 10px;

}

.rightbarFollowing{
    align-items: center;
    padding-top: 10px;
    
}

.data{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}